/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    text-align: center;
}

.head-wrapper {
    background-image: url(../img/Layer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    padding-top: 29px;
}

.container {
    max-width: 1201px;
    margin: auto; 
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 178px;
}

.list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.link {
    display: block;
    text-decoration: none;
}

.nav-menu__link {
    border-bottom: 3px solid rgba(252, 227, 138, 0);
    padding-bottom: 12px;
    color: #fff;
}

.nav-menu__item, 
.service-menu__name,
.team-card__name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-menu__item:not(:last-child) {
    margin-right: 60px;
}

.nav-menu__link--hover:hover {
    color: #fce38a;
    border-bottom: 3px solid rgba(252, 227, 138, 1);
}

.nav-menu__icon {
    fill: #fff;
    width: 18px;
    height: 18px;
}

.nav-menu__icon:hover {
    fill: #fce38a;
}

.descr {
    font-family: 'Kaushan Script', sans-serif;
}

.head-container__descr {
    font-size: 72px;
    color: #fff;
    margin-bottom: 42px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;    
}

.head-container__title {
    font-size: 150px;
    color: #fff;
    margin: 0;
    margin-bottom: 109px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    border: 3px solid;
    padding: 12px 30px;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.head-container__button {
    border-color: #fff;
    background: transparent;
}

.service {
    padding-top: 48px;
}

.main-container__descr {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-container__title {
    font-size: 30px;
    position: relative;
    margin-bottom: 108px;
}

.main-container__title::after {
    position: absolute;
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.service-menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 83px;
}

.service-menu__item {
    max-width: 350px;
    text-align: left;
    padding-left: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 93px;
    position: relative;

}

.service-menu__icon {
    position: absolute;
    width: 32px;
    height: 32px;
    fill: #95e1d3;
    left: 0;
}

.service-menu__link:hover .service-menu__icon {
    fill: orange;
}

.service-menu__item:not(:nth-child(-n+3)) {
    margin-bottom: 0;
}

.service-menu__name,
.team-card__name {
    color: #333333;
    margin-bottom: 13px; 
}

.service-menu__descr,
.team__note {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.team-list {
    margin-bottom: 78px;
}

.team__note {
    max-width: 980px;
    margin: auto;
    margin-bottom: 67px;
}

.team-img {
    position: relative;
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
    margin-bottom: 30px;
}

.team-img:hover .team-img__front,
.team-img:hover .team-social__list{
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

.team-img__front {
    width: 380px;
    height: 470px;
    position: absolute;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-img__overlay {
    width: 380px;
    height: 470px;
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(252, 227, 138)), to(rgb(243, 129, 129)));
    background: -o-linear-gradient(bottom, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background: linear-gradient(to top, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-img:hover .team-img__overlay {
    opacity: 0.9;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

.team-social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.team-social__item:not(:last-child) {
    margin-right: 1px;
}

.team-social__item:hover {
    background-color: #f38181;
}

.team-social__item:hover .team-social__icon {
    fill: #ffffff;
}

.team-social {
    position: absolute;
    min-width: 227px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
}

.team-img:hover .team-social {
    opacity: 1;
}

.team-social__list {
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-social__icon {
    width: 26px;
    height: 26px;
    fill: #f38181;
    -webkit-transition: fill 0.2s linear;
    -o-transition: fill 0.2s linear;
    transition: fill 0.2s linear;
}

.team-card__position {
    font-family: 'Roboto Light Italic', sans-serif;
    font-style: italic;
    font-size: 15px;
    line-height: 1;
    color: #999999;
}

.footer {
    border-top: 1px solid #e5e5e5;
    width: 100%;
}

.footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px auto;
}


.footer-box__info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333333
}


.footer-box__info--red {
    color: #f38181;
}

.footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__button {
    border-color: #95e1d3;
    background: #95e1d3;
}

button:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

.footer-box__input {
    width: 230px;
    border: 1px solid #e5e5e5;
    border-right: transparent;
    font-family: 'Roboto LightItalic', sans-serif;
    font-style: italic;
    font-size: 15px;
    padding: 10px 0 10px 12px;
}

::-webkit-input-placeholder {
    color: #cccccc;
}

::-moz-placeholder {
    color: #cccccc;
}

:-ms-input-placeholder {
    color: #cccccc;
}

::-ms-input-placeholder {
    color: #cccccc;
}

::placeholder {
    color: #cccccc;
}