@media (max-width:767px) {
    .top_section {
        height: 541px;
    }

    .top_section h1 {
        font-size: 30px;
        margin-bottom: 14px;
    }

    .nav_menu {
        margin: 20px 0 115px;
    }

    .logo {
        margin-bottom: 34px;
    }

    .top_section h2 {
        width: 220px;
        margin: 0 auto 17px;
        font-size: 18px;
    }

    .button {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        width: 260px;
        margin-bottom: 18px;
    }

    .bottom_section {
        margin-bottom: 56px;
    }

    .partner {
        margin-left: auto;
        margin-right: auto;
    }

    .partner:last-child {
        margin-bottom: 0;
    }

    .partner_list {
        margin-bottom: 28px;
    }
}

@media (min-width:768px) and (max-width:979px) {
    .partner_list {
        width: 492px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .partner {
        margin-bottom: 56px;
    }

    .partner:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    .partner_list {
        margin-bottom: 38px;
    }

    .bottom_section {
        margin-bottom: 40px;
    }

}

@media (min-width:768px) {
    .navigation {
        margin: 38px auto 153px;
    }

    .top_section {
        height: 700px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 670px;
    }

    .logo {
        order: -1;
    }

    .top_section h1 {
        font-size: 52px;
        margin-bottom: 36px;
    }

    .top_section h2 {
        margin: 0 auto 32px;
        font-size: 24px;
    }

    .button {
        width: 226px;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        margin-bottom: 30px;
    }

    .partner_list {
        flex-direction: row;
    }
}

@media (min-width:980px) {
    .navigation {
        min-width: 940px;
    }

    .partner_list {
        max-width: 940px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 38px;
    }

    .partner {
        margin-bottom: 0;
    }

    .bottom_section {
        margin-bottom: 73px;
    }

    .partner:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 2px 2px 3px 3px rgba(56, 55, 55, 0.3);
        transition: transform 0.2s linear, box-shadow 0.3s linear;
    }

    .partner:active {
        transform: scale(0.9);
        transition: transform 0.2s linear;
    }
}