$header-main-color: #fff;
$main-main-color: #333333;
$header-hover-color: #fce38a;
$title-font: 'Montserrat', sans-serif;
$descr-font: 'Kaushan Script', sans-serif;
$italic-font: 'Roboto Light Italic', sans-serif;
$service-icon-color: #95e1d3;
$social-item-color: #f38181;
$team-card-position-color:#999999;
$footer-border: 1px solid #e5e5e5;
$placeholder-color: #cccccc;